*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* container */ 

.header-bar{
    width: 100%;
    height: 130px;
    display: block;
    background-image: linear-gradient(to right,rgb(196, 143, 93),rgb(206, 173, 123));
}
.container-0{
   padding: 1% 10%;
   text-align: center;
   /* box-sizing: border-box; */
}

/* header-1 */ 

.header-1{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}
.header-1 a, .header-1 i{
    width: 15%;
}
.header-input{
    width: 65%;
}
.header-logo ul{
    display: flex;
    text-align: center;
}
.header-logo li{
    list-style: none;
}
.header-logo img{
    width: 100px;
    height: 50px;
}
.header-input{
    background-color: white;
    display: flex;
    height: 45px;
    margin: 0 2%;
}
.header-input input{
    width: 88%;
    font-size: inherit;
    padding: 6px;
    outline: none;
    border: none;
}
.header-input i{
    background-color: khaki;
    width: 6%;
    margin: 1%;
    padding: 6px;
     font-size: 20px;
    text-align: center;
}
.header-icon i{
    padding: 10px;
    font-size: 35px;
    text-align: center;
}
.header-icon i:hover{
    cursor: pointer;
}
#icon-bar,#icon-carts{
    display: none;
}

/* header-2 */

.header-2{
    display: inline-block;
}
.header-21{
    width: 100%;
}

.header-21 ul{
    display: flex;
    /* align-items: center;
    text-align: center; */
    position: relative;
}
.header-21 li{
    list-style-type: none;
    /* position: relative; */
    /* margin-left: 20px; */
    padding: 5px 20px;
}
.header-21 li a{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
}
ul{
    margin-bottom: 0;
    padding-left: 0;
}

/* drop down */

.header-21 li:hover{
    background-color: rgb(199, 191, 191);
    border-radius: 10px;
}

.header-21 li .dropdown{
    background: #FFF;
    overflow: hidden;
    border: 1px solid #F4BA01;
    box-shadow: 0px px 8px rgba(0,0,0,.5);
    width: 100%;
    min-height: 300px;
    padding: 20px 30px;
    position: absolute;
    box-sizing: border-box;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}
.header-21 li:hover .dropdown {
    display: block;
    /* margin-left: 15% ; */
    /* flex-direction: column; */
}
.dropdown-title{
    text-align: left;
}
.dropdown-title strong{
    font-size: 16px;
    color: black;
}
hr{
    margin: 5px 0;
}

/* dropdown-content */

.dropdown-content{
    text-align: left;
    display: flex;
}
.dropdown-content strong{
    font-size: 16px;
    text-decoration: underline;
    color: black;
}
.dropdown-content ul{
    display: block;
    font-weight:bold;
    margin-top: 10px;
}


/* dropdown-band */

.dropdown-band{
    width: 60%;
}
.dropdown-band div{
    display: flex;
}

/* dropdown-price */

.dropdown-price{
    width: 30%;
}

.header-21 li .dropdown li a{
    font-size: 18px;
    color: rgb(207, 148, 39);
    display: block;
    font-weight: 400;
}

/* herder-22  */

.header-22 {
    display: none;
}

/*  */

@media only screen and (max-width:768px){
    
    .container-0{
        padding: 0;
    }
    .header-logo{
        width: 100%;
    }
    #icon-bar, #icon-carts{
        display: block;
    }
    #icon-bar i,#icon-carts i{
        font-size: 30px;
    }
    .header-input{
        display: none;
    }
    .header-icon{
        display: none;
    }

    /* header-1 */
    .header-1{
        padding: 8px;
    }
    .header-1 ul{
        display: flex;
       align-items: center;
       justify-content: space-between;
   }
   .header-1 ul li{
       width:32% ;
   }
   .header-1 ul li i{
       font-size: 20px;
   }
   
    /* phan menu  */
    .header-2{
        display: flex;
    }
    
    .header-21 {
        display: block;
        overflow: scroll;
        background-color: black;
        /* width: 100%; */
        z-index: 99;
        height: 100%;
        position: fixed;
        left: -100%;
    }
    .visible{
        left: 0px;
        transition: left 0.3s ease;
    }
    .header-21 ul{
        display: block;
    }
    .header-21 ul li{
        margin-bottom: 10px;
    }
    .header-21 ul li a{
        color: chocolate;
        font-size: 20px;
    }
    
    /* drop down */

 
    .header-21 li .dropdown{

        top: auto;
        overflow: scroll;
        padding: 0;
    }
    .header-21 li .dropdown li a{
        font-size: 15px;
        color: rgb(207, 148, 39);;
        display: block;
        font-weight: 400;
    }
    /* header-22 */
    .header-22{
        width: 95%;
        display: flex;
        margin: 5px 10px; 
        background-color: white;
    }
    .header-22 input{
        width: 88%;
        font-size: inherit;
        padding: 10px;
        outline: none;
        border: none;
    }
    .header-22 i{
        background-color: khaki;
        width: 5%;
        margin: 1%;
        padding: 10px;
         font-size: 20px;
        text-align: center;
    }
}
